/* Base
================================================== */
@import "modules/normalize";

body {
  font: 16px/1.5 Helvetica,Arial,sans-serif;
  color: #3b3b3b;
  background: darken(#fefefe, 20%) url("../images/fabric_plaid.png");
}
