/* Layout
================================================== */
@import "modules/grid";
  
$column-width: 40px;
$gutter-width: 20px;
$columns: 16;

.content {
  @include row;
  margin: 30px auto;
}

footer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}