.content  
  %h1 mnml boilerplate
  %h2 You can start hacking.
  %p 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In congue posuere bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus varius, augue vel volutpat ullamcorper, libero urna convallis nunc, vel facilisis mi justo vitae urna. Donec vel tortor ut quam vehicula sollicitudin nec vitae ipsum. 

= render_partial 'footer'
